*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body{
  display: grid;
  background-color: black;
  grid-template-columns: 0.005fr 1fr;
}

body > main {
  display: grid;
  grid-template-columns: 1fr;
}

.icons-container{
    padding-top: 100px;
    list-style-type: none;
    display: grid;
    height: 100vh;
    scrollbar-base-color: brown;
    scroll-behavior: smooth;
    scrollbar-color: blue;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fit, 100px);
    overflow-y: auto;
    
}

.icon{
  border: 2px goldenrod solid;
  border-radius: 8px;
  height: 100%;
  width: 100%;

}


.icon:hover{
  border-color: blue;
  cursor: pointer;
  opacity: 0.5;

}

.active {
  border-color: red;
}

@keyframes fadeIn {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
/* slide right is for the champion information */
@keyframes slideRight { 
  0%{
    transform: translateX(-500px);
  }

  100%{
    transform: skew(0deg);
  }
}

.splash-container{
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  animation: fadeIn 1s ;
  display: grid;
  grid-template: 
  "champInfo . ." 1fr
  "champInfo . ."1fr
  "champInfo . ."1fr/
  1fr 1fr 1fr
  ;
}

.champ-info{
  padding-top: 10px;
  grid-area: champInfo;
  display: grid;
  animation: slideRight ease-in 300ms;
  background-color: rgba(0,0,0,.3);
  grid-template: 
  "search"0.1fr
  "."0.1fr
  "name"0.1fr
  "title"0.1fr
  "body"1fr
  "arrow"0.6fr/
  1fr;
}

.champ-name{
  letter-spacing: 6px;
  margin-top: 80px;;
  grid-area: name;
  font-size: 6rem;
  margin-left: 6%;
  color:white;
  text-align: left;  
}

.champ-title{
  grid-area: title;
  letter-spacing: 6px;
  font-size: 3rem;
  color:white;
  text-align: left; 
  margin-left: 6%;
  margin-bottom: 6%;
  margin-right: 3%;

}

.champ-blurb{
  grid-area: body;
  letter-spacing: 6px;
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
  margin-left: 6%;
  margin-right: 6%;
}

.champ-more-info-arrow{
  cursor: pointer;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 100px;
  filter: invert(100%);
}
.champ-more-info-arrow:hover{
  height: 160px;
}

.arrow-container{
  grid-area: arrow;
  display: grid;
  place-items: center right;
}

.icons-container::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
    display: none;
    

  }

.icons-container::-webkit-scrollbar {
    width: 6px;
}
/* for icons start animation */
@keyframes growDown {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      50% {
        transform: rotateX(-20deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
  }

.icons-container li{
  color: white;
  animation: growDown 1s ease;
}

.icons-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: goldenrod;
    border: 1px solid #000;
}

.search-icon{
  height: 100px;
  width: 100px;
  position: fixed;
  display: grid;
  place-items: center;
  border: 1px goldenrod solid;
  border-radius: 8px;
  background-color:goldenrod;
}

.search-icon-image{
  height: 60px;
  width: 60px;
  filter: invert(100%);
  
}

.search-icon:hover{
  border-color: blue;
  cursor: pointer;
  opacity: 0.5;
  height: 100px;
}

.search-container{
  grid-area: search;
  margin-left: 20px;
  transform: translateX(-110%);
  transition: transform 2s;
}
.search-container > input {
  height: 80px;
  width: 95%;
  border-radius: 10px;
  font-size: 2.5rem;
  border: 1px goldenrod solid;
  padding: 2px 23px 2px 30px;
}

.slideright {
  transform: translateX(0);
}


@media (max-width: 2125px) { 

  .champ-info{
    grid-template: 
    "search"0.1fr
    "name"0.1fr
    "title"0.1fr
    "body"1fr
    "arrow"0.6fr/
    1fr;
  }
  .champ-name{
    font-size: 3rem;
  }
  .champ-title{
    letter-spacing: 6px;
    font-size: 2rem;
  }

  .champ-blurb{
    font-size: 2rem;
    letter-spacing: 3px;
  }

  .splash-container{
    background-size: cover;

  }


 }


 @media (max-width: 1600px) { 

  .champ-info{
    grid-template: 
    "search"0.1fr
    "."30px
    "name"0.1fr
    "title"0.1fr
    "body"1fr
    "arrow"0.6fr/
    1fr;
  }
  .champ-name{
    font-size: 2rem;
  }
  .champ-title{
    letter-spacing: 6px;
    font-size: 2rem;
  }

  .champ-blurb{
    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  .splash-container{
    background-size: cover;

  }



  
 }


 @media (max-width: 1200px) { 

  .champ-info{
    grid-template: 
    "search"0.1fr
    "."30px
    "name"0.1fr
    "title"0.1fr
    "body"1fr
    "arrow"0.6fr/
    1fr;
  }
  .champ-name{
    font-size: 2rem;
  }
  .champ-title{
    letter-spacing: 6px;
    font-size: 2rem;
  }

  .champ-blurb{
    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  .splash-container{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    animation: fadeIn 1s ;
    display: grid;
    grid-template: 
    "champInfo champInfo splash" 1fr
    "champInfo champInfo splash"1fr
    "champInfo champInfo splash"1fr/
    1fr 1fr 1fr
    ;
  }
 }

 @media (max-width: 800px) {
  .splash-container{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    animation: fadeIn 1s ;
    display: grid;
    grid-template: 
    "champInfo champInfo champInfo" 1fr
    "champInfo champInfo champInfo"1fr
    "champInfo champInfo champInfo"1fr/
    1fr 1fr 1fr
    ;
  }
 }

 @media (max-width: 400px) {
  .champ-info{
    grid-template: 
    "search"100px
    "name"0.1fr
    "title"0.1fr
    "body"1fr
    "arrow"0.6fr/
    1fr;
  }

  .champ-name{
    margin-top: 0;
    font-size: 2rem;
  }
  .champ-title{
    font-size: 1.4rem;

  }
  .champ-blurb{
    font-size: 1.2rem;
  }
  .champ-more-info-arrow{
    height: 100px;
  }
  body{
    grid-template-columns: 50px 1fr;
  }
  .icons-container{
    margin: 0px;
    list-style-type: none;
    display: grid;
    height: 100vh;
    scrollbar-base-color: brown;
    scroll-behavior: smooth;
    scrollbar-color: blue;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fit, 45px);
    overflow-y: auto;
}
  .search-icon{
    height: 45px;
  }
  .search-icon-image{
    height: 60px;
  }

  .search-container > input {
    height: 30px;
    width: 95%;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px goldenrod solid;
    padding: 2px 23px 2px 30px;
  }
  .champ-more-info-arrow{
    height: 70px;
  }
}